services:
  postgres:
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  configuration-api:
    build: .
    ports:
      - "8080:8080"
    environment:
      Persistence__UsePostgres: "true"
      Persistence__ApplyMigrationsOnStartup: "true"
      ConnectionStrings__Postgres: "Host=postgres;Port=5432;Database=mydb;Username=postgres;Password=secret"
    depends_on:
      - postgres

  pgadmin:
    image: dpage/pgadmin4:9.8
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@localhost.com
      PGADMIN_DEFAULT_PASSWORD: admin123
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
    depends_on:
      - postgres

volumes:
  postgres_data:
