services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres-db
    env_file:
      - .env.postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  api:
    image: jon101/docker-build-cloud-demo:latest
    container_name: cloud-demo
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env.api
    ports:
      - "8080:8080"

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    env_file:
      - .env.pgadmin
    ports:
      - "5050:80"
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data:
