services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres-db
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  api:
    image: jon101/docker-build-cloud-demo:latest
    container_name: cloud-demo
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - Persistence__UsePostgres=true
      - Persistence__ApplyMigrationsOnStartup=true
      - ConnectionStrings__Postgres=Host=postgres;Port=5432;Database=mydb;Username=postgres;Password=secret
      - ASPNETCORE_ENVIRONMENT=Production
    ports:
      - "8080:8080"

  pgadmin:                     # <-- Add this b
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data:
