- name: Checkout
  uses: actions/checkout@v4

- name: Log in to Docker Hub
  uses: docker/login-action@v3
  with:
    username: ${{ secrets.DOCKER_USER }}
    password: ${{ secrets.DOCKER_PAT }}

- name: Set up Docker Buildx
  uses: docker/setup-buildx-action@v3
  with:
    driver: cloud

- name: Build and push
  uses: docker/build-push-action@v6
  with:
    push: true
    tags: "jon101/joghn:latest"
    outputs: ${{ github.event_name == 'pull_request' && 'type=cacheonly' || 'type=registry' }}
